@media screen and (max-width: 1024px) {
  #container {
    padding-bottom: 80px;
    max-width: 919px;
  }

  .slider-header {
    display: none;
  }

  .header-inner {
    min-height: 122px;
    position: relative;
  }

  .nav {
    display: none;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    margin-left: -40px;
  }

  .header-logo svg {
    width: 80px;
  }

  /* Burger */

  .burger-icon {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    height: 31px;
    border: none;
    background: none;
  }

  .burger-icon-inner,
  .burger-icon::before,
  .burger-icon::after {
    content: "";
    width: 48px;
    height: 5px;
    background: #000;
  }

  /* menu open */

  .header.menu-open {
    padding: 0 30px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 316px;
    z-index: 2;
  }

  .header.menu-open .burger-icon-inner,
  .header.menu-open .burger-icon::before,
  .header.menu-open .burger-icon::after {
    background: #fff;
  }

  .header.menu-open .header-inner {
    max-width: 919px;
    margin: 0 auto;
  }

  .header.menu-open .logo-svg {
    fill: #fff;
  }

  .header.menu-open + .main {
    padding-top: 122px;
  }

  .header.menu-open .nav {
    display: block;
  }

  .header.menu-open .nav-list {
    width: 424px;
    position: absolute;
    top: 144%;
    left: 50%;
    transform: translateX(-40%);
  }

  .header.menu-open .nav-item:not(:first-child) {
    margin-left: 67px;
  }

  .header.header.menu-open .burger-icon::after {
    content: "";
    display: none;
  }

  .header.menu-open .burger-icon-inner {
    transform: rotate(45deg);
    position: relative;
    top: -15px;
    transition: transform 0.5s;
  }
  .header.header.menu-open .burger-icon::before {
    transform: rotate(-45deg);
    position: relative;
    top: 10px;
    transition: transform 0.5s;
  }

  .header.menu-open .nav-item-link {
    color: #fff;
  }

  /* Main */

  .main-text {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .main-heading {
    font-size: 28px;
    margin-bottom: 32px;
  }

  .main-block-wrap {
    display: flex;
    flex-direction: column;
  }

  .main-block {
    max-width: 928px;
  }

  .main-block-wrap,
  .main-block:not(:last-child) {
    margin-bottom: 32px;
  }

  .main-block-text {
    padding: 48px;
  }
}

/* MOBILE */

@media screen and (max-width: 414px) {
  body {
    padding: 0 20px;
  }

  #container {
    padding-bottom: 102px;
    max-width: 355px;
  }

  .header-inner {
    min-height: 80px;
  }

  .header-logo {
    display: none;
  }

  .carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 187px;
    margin: 0 auto;
  }

  .burger-icon {
    position: absolute;
    right: 10px;
  }

  .burger-icon-inner,
  .burger-icon::before,
  .burger-icon::after {
    content: "";
    width: 48px;
    height: 5px;
    background: #fff;
    z-index: 3;
  }

  .main {
    padding-top: 156px;
  }

  .main-text {
    font-size: 18px;
  }

  .slick-list {
    max-height: 187px;
  }

  .slick-slide img {
    max-width: 414px;
    max-height: 187px;
  }

  /* MENU OPEN */

  .header.menu-open {
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 332px;
  }

  .header.menu-open .header-inner {
    max-width: 355px;
  }

  .header.menu-open + .main {
    padding-top: 236px;
  }

  .header.menu-open .header-logo {
    display: block;
    position: absolute;
    top: 10px;
    left: 40px;
  }

  .header.menu-open .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 106px;
    position: absolute;
    left: 40px;
    top: 110px;
  }

  .header.menu-open .nav-item-link {
    text-align: left;
  }

  .header.menu-open .nav-item:not(:first-child) {
    margin: 0;
  }

  .header.menu-open .nav-item:not(:last-child) {
    margin-bottom: 48px;
  }

  /* MAIN */

  .main-heading {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .main-block-text,
  .second .main-block-text {
    padding: 20px;
  }

  .counter {
    display: block;
    font-size: 24px;
    line-height: 1.2;
  }

  .main-block-wrap,
  .main-block:not(:last-child) {
    margin-bottom: 26px;
  }

  .main-block-text {
    font-size: 16px;
  }

  .main-message {
    padding: 0;
    border: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 230px;
  }

  .main-textarea {
    border: 1px solid #000;
    padding: 20px;
    resize: none;
    outline: none;
    width: 100%;
    min-height: 150px;
    margin: 0 0 19px 0;
  }

  ::placeholder {
    text-align: center;
  }

  .main-button {
    text-align: center;
    padding: 16px 99px;
    text-decoration: none;
    z-index: 3;
    color: #fff;
    text-transform: uppercase;
    background: #000;
    border-color: #000;
    border-radius: 8px;
    font-size: 24px;
    line-height: 1.2;
    width: 100%;
    height: 60px;
  }
}
