@media screen and (max-width: 1024px) {
  #container {
    padding-bottom: 80px;
    max-width: 979px;
  }

  .header-inner {
    min-height: 122px;
    position: relative;
  }

  .nav {
    display: none;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    margin-left: -40px;
  }

  .header-logo svg {
    width: 80px;
    height: 48px;
  }

  /* BURGER */

  .burger-icon {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    height: 31px;
    border: none;
    background: none;
  }

  .burger-icon-inner,
  .burger-icon::before,
  .burger-icon::after {
    content: "";
    width: 48px;
    height: 5px;
    background: #000;
  }
 
  .burger-icon:active .burger-icon-inner,
  .burger-icon:active::after,
  .burger-icon:active::before {
    background: #686b6b;
  }

  /* MENU OPEN */

  .header.menu-open {
    padding: 0 30px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 316px;
    z-index: 2;
  }

  .header.menu-open .header-inner {
    max-width: 919px;
    min-height: 316px;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 111px;
  }

  .header.menu-open .burger-icon {
    position: absolute;
    top: 48px;
  }

  .header.menu-open .burger-icon-inner,
  .header.menu-open .burger-icon::before,
  .header.menu-open .burger-icon::after {
    background: #fff;
  }

  .header.menu-open .burger-icon:active .burger-icon-inner,
  .header.menu-open .burger-icon:active::after,
  .header.menu-open .burger-icon:active::before {
    background: #686b6b;
  }

  .header.menu-open .header-logo {
    top: 37px;
  }

  .header.menu-open .logo-svg {
    fill: #fff;
  }

  .header.menu-open + .main {
    padding-top: 122px;
  }

  .header.menu-open .nav {
    padding-left: 30px;
    display: flex;
  }

  .header.menu-open .nav-item-link {
    color: #fff;
    font-size: 24px;
    line-height: 1.2;
  }

  .header.menu-open .nav-item:not(:first-child) {
    margin-left: 67px;
  }

  .header.menu-open .burger-icon::after {
    content: "";
    display: none;
  }

  .header.menu-open .burger-icon-inner {
    transform: rotate(45deg);
    position: relative;
    top: -15px;
    transition: transform 0.5s;
  }
  .header.menu-open .burger-icon::before {
    transform: rotate(-45deg);
    position: relative;
    top: 10px;
    transition: transform 0.5s;
  }

  /* MAIN */

  .carousel {
    margin-bottom: 24px;
  }

  .main-text {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .main-heading {
    font-size: 28px;
    margin-bottom: 32px;
  }

  .main-block-wrap {
    display: flex;
    flex-direction: column;
  }

  .main-block-wrap,
  .main-block:not(:last-child) {
    margin-bottom: 32px;
  }

  .main-block {
    display: flex;
    align-items: center;
    min-height: 214px;
    max-width: 928px;
  }

  .main-block:last-child {
    min-height: 284px;
  }

  /* TEXTAREA */

  .main-textarea {
    margin-right: 30px;
  }
}

/* --------------------MOBILE--------------------- */

@media screen and (max-width: 414px) {
  #container {
    padding: 0 20px;
    padding-bottom: 102px;
    max-width: 395px;
  }

  /* HEADER */

  .header-inner {
    min-height: 80px;
  }

  .header-logo {
    display: none;
  }

  .carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 187px;
    margin: 0 auto;
  }

  /* BURGER */

  .burger-icon {
    position: absolute;
    right: 0;
    top: 19px;
  }

  .burger-icon-inner,
  .burger-icon::before,
  .burger-icon::after {
    content: "";
    width: 48px;
    height: 5px;
    background: #fff;
    z-index: 3;
  }

  /* MENU OPEN */

  .header.menu-open {
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 332px;
  }

  .header.menu-open .burger-icon {
    position: absolute;
    right: 0;
    top: 25px;
  }

  .header.menu-open .header-inner {
    min-height: 332px;
    justify-content: flex-start;
    padding-bottom: 44px;
    max-width: 355px;
  }

  .header.menu-open + .main {
    padding-top: 236px;
  }

  .header.menu-open .header-logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 40px;
  }

  .header.menu-open .nav {
    padding-left: 0;
  }

  .header.menu-open .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header.menu-open .nav-item-link {
    font-size: 20px;
    line-height: 1.2;
  }

  .header.menu-open .nav-item:not(:first-child) {
    margin: 0;
  }

  .header.menu-open .nav-item:not(:last-child) {
    margin-bottom: 48px;
  }

  /* MAIN */

  .main {
    padding-top: 156px;
  }

  .main-text {
    font-size: 18px;
  }

  .main-heading {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .main-block-text {
    padding: 0 20px;
  }

  .counter {
    display: block;
    font-size: 24px;
    line-height: 1.2;
  }

  .main-block-wrap,
  .main-block:not(:last-child) {
    margin-bottom: 26px;
  }

  .main-block {
    min-height: 276px;
  }

  .main-block:last-child {
    min-height: 356px;
  }

  .main-block-text {
    font-size: 16px;
  }

  .main-message {
    border: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 230px;
  }

  .main-textarea {
    border: 1px solid #000;
    color: #686b6b;
    padding: 10px;
    resize: none;
    outline: none;
    width: 100%;
    min-height: 150px;
    margin: 0 0 19px;
  }

  .main-message:focus-within {
    outline: none;
  }

  .main-textarea:focus {
    border: none;
    outline: 2px solid #343436;
  }

  .main-textarea::placeholder {
    text-align: center;
    padding: 20px;
  }

  .main-button {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
    width: 100%;
    height: 60px;
  }
}

/* чтобы текст не уезжал слишком вниз при маленьком разрешении на mobile */

@media screen and (max-width: 350px) {
  .main {
    padding-top: 110px;
  }
}
